body{
    margin: 0px;
}

.title{
    background-color: black;
    color: white;
    padding: 20px 0 20px 40px;
    margin: 0;
}

.page-container{
    margin: 20px 100px 20px 100px;
}

.container-effects{
    box-shadow: 10px 10px 5px grey;
    border-radius: 10px;
    background-color: whitesmoke;
    padding: 20px;
}

.spacing{
    margin: 5px 0 5px 0;
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 30px;
}

.grid-element{
    padding: 20px;
    margin: 40px;
    min-width: 200px;
    max-width: 400px;
}

.loan-btn{
    background-color: #4bf1a1;
    width: 100%;
    
}

.work-btn{
    background-color: #4d70f0;
    width: 50%;
}

.bank-btn{
    background-color: #edef4d;
    width: 50%;
}


.pay-loan-btn{
    background-color: violet;
    width: 100%;
}

.info-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    min-width: 350px;
}

.comp-img{
    width: 100px;
    margin: 50px;
}

.buy-comp-div{
    margin: 50px;
    text-align: center;
}

.buy-comp-btn{
    background-color: #4cc9f1;
    border-radius: 10px;
}

button:focus{
    background-color: pink;
}
button:hover{
    background-color: pink;
}